* {
  font-family: "Roboto", sans-serif;
}

.cover {
  background-color: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab);
  background-size: 300% 300%;
  animation: gradientAnimation 15s infinite;
  background-image: url(/img_home/dj.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}

.title {
  font-family: "Milonga", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;

}
.section2 {
  display: flex;
  margin-left: 70px;
  margin-right: 70px;

}
.image {
  margin-top: 30px;
  margin-left: 70px;
  width: 200px;
  height: 300px;
  border-radius: 30px;
}
.item {
  margin-top: 50px;
  font-family: "Sedan", serif;
}
.description-kn {
  color: #9397ad;
  line-height: 25px;
}

/* CSS */
.button-71 {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left: 55%;
  margin-top: 15px;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
  }
}

/* our service  */
.para {
  font-family: "Open Sans", sans-serif;
}

.txt {
  text-align: center;
  color: #9397ad;
}

.service-row {
  display: flex;
  margin-top: 70px;
}

.service-item > img {
  width: 150px;
  border-radius: 100px;
}

.service-item > h3 {
  font-size: 30px;
  font-family: "Milonga", serif;
  color: #3c4859;
}


/* progress bar  */
.lead{
  margin-top: 15px;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  bottom: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.social-icons a {
  margin: 0 10px;
  text-decoration: none;
}

.social-icons img {
  width: 30px; /* Ajustez la taille des icônes selon vos préférences */
}
