@font-face
{
	font-family:k2d-bold;
	src:url(K2D-Bold.ttf);
}
@font-face
{
	font-family: kreon;
	src:url(kreon.ttf);
}
@font-face
{
	font-family:kavivanar;
	src:url(Kavivanar-Regular.ttf);
}
body
{
	background-image: url('bg.png');
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height:100vh;

}
div #msg {
    color: red;
    font-size: 16px;
    font-weight: bold;
}
.container
{
	position: relative;
	max-width: 900px;
	width: 100%;
	border:1px solid gray;
	border-radius: 6px;
	padding: 30px;
	margin: 0 15px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.4);
	height: 68vh;
}
.container header
{
	position: relative;
	font-size: 30px;
	font-weight: 600;
	color:#333;
	font-family: k2d-bold;
}
.container header::before
{
	content:"";
	position: absolute;
	left:0;
	bottom: -4px;
	height: 3px;
	width: 27px;
	border-radius: 8px;
	background-color:#008DDA;
}
.container form
{
	margin-top: 16px;
	position: relative;
	min-height: 490px;

}
.container form .details
{
	margin-top: 30px;
}
.container form .title
{
	display: block;
	font-size: 22px;
	font-weight: 500;
	margin: 6px 0 8px;
	font-family: kreon;

}
.container form .fields
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
form .fields .input-field
{
	display: flex;
	width: calc(100% / 3 - 15px);
	flex-direction: column;
}
.input-field label
{
	font-size: 20px;
	font-weight: 350;
	color:#2e2e2e;
	font-family: kreon;
}
.input-field input
{
	padding: 0 15px;
	height: 42px;
	margin: 8px 0;
	border:1px solid #aaa;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	color:#333;
}
.container form button
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    max-width: 140px;
    border:none;
    outline: none;
    border-radius: 5px;
    color:#fff;
    background-color: #008DDA;
    width: 100%;
    margin: 25px 0;
    transition: all 0.3 linear;
    cursor: pointer;
}
form button:hover
{
	background-color: #ACE2E1;
}

.createBtn i
{
	padding-left:5px;
}
